* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #d22320;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

#logo {
  width: 5%;
}

/* Container */

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

/* Main */

.main {
  width: 60%;
}

/* Aside */

aside {
  width: 40%;
  overflow: hidden;
}